[Desktop Entry]
Version=1.0
Name=flCalc
Name[en_US]=flCalc
Name[en_GB]=flCalc
Name[en]=flCalc
Name[pt_PT]=flCalc
GenericName=Calculator
GenericName[pt_PT]=Calculadora
Comment=Scientific Calculator
Comment[pt_PT]=Calculadora científica
Exec=flcalc
Terminal=false
Icon=calc
Type=Application
Categories=Utility;

