[Desktop Entry]
Name=Text Editor
Name[en_US]=Text Editor
Name[en_GB]=Text Editor
Name[en]=Text Editor
Name[pt_PT]=Editor de texto
GenericName=Text Editor
GenericName[pt_PT]=Editor de texto
Comment=Light and fast text editor
Comment[pt_PT]=Editor de texto leve e rápido
Icon=text-editor
Exec=flpad %f
Terminal=false
Type=Application
Categories=Utility;
