[Desktop Entry]
Version=1.0
Name=Screenie
Name[en_US]=Screenie
Name[en_GB]=Screenie
Name[en]=Screenie
Name[pt_PT]=Screenie
GenericName[pt_PT]=Capturas de ecrã
Comment=Take a Screenshot
Comment[pt_PT]=Tire capturas de ecrã
Exec=flscreenie
Terminal=false
Icon=accessories-camera
Type=Application
Categories=Graphics;

